# Core ML
torch>=2.8.0
torchvision>=0.23.0
numpy>=2.0.0
pillow>=11.0

# Config & Logging
pyyaml>=6.0
tqdm>=4.67.0

# Computer Vision
ultralytics>=8.1.0
opencv-python>=4.8

# MLOps Tools
dvc>=3.66.0
dvc-gdrive>=3.0.0
dvc-s3>=3.2.0
mlflow>=3.1.0

# Metrics & Evaluation
scikit-learn>=1.6.0
pandas>=2.3.0

# Testing
pytest>=8.4.0

